<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ur5_transmission">

    <!-- add planning scene -->

    <gazebo>
      <plugin filename="libgazebo_ros_moveit_planning_scene.so" name="gazebo_ros_moveit_planning_scene">
        <topicName>/planning_scene</topicName>
        <sceneName>workcell</sceneName>
        <robotName>ur5</robotName>
        <updatePeriod>0.5</updatePeriod>
      </plugin>
    </gazebo>

    <!-- load Gazebo lib with desired parameters -->

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <!-- <robotNamespace>/MYROBOT</robotNamespace> -->
      </plugin>
	  </gazebo>

    <!-- transmission joint 1 -->

    <transmission name="ur5_tran1">

      <type>transmission_interface/SimpleTransmission</type>

      <joint name="ur5_joint1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>

      <actuator name="ur5_motor1">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      
    </transmission>

    <!-- transmission joint 2 -->

    <transmission name="ur5_tran2">

      <type>transmission_interface/SimpleTransmission</type>

      <joint name="ur5_joint2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>

      <actuator name="ur5_motor2">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>

    </transmission>

    <!-- transmission joint 3 -->

    <transmission name="ur5_tran3">

      <type>transmission_interface/SimpleTransmission</type>

      <joint name="ur5_joint3">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>

      <actuator name="ur5_motor3">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>

    </transmission>

    <!-- transmission joint 4 -->

    <transmission name="ur5_tran4">

      <type>transmission_interface/SimpleTransmission</type>

      <joint name="ur5_joint4">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>

      <actuator name="ur5_motor4">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>

    </transmission>

    <!-- transmission joint 5 -->

    <transmission name="ur5_tran5">

      <type>transmission_interface/SimpleTransmission</type>

      <joint name="ur5_joint5">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>

      <actuator name="ur5_motor5">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>

    </transmission>

    <!-- transmission joint 6 -->

    <transmission name="ur5_tran6">

      <type>transmission_interface/SimpleTransmission</type>

      <joint name="ur5_joint6">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>

      <actuator name="ur5_motor6">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>

    </transmission>

  </xacro:macro>

</robot>