<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5">

    <!-- load arm -->
    <xacro:include filename="$(find ur5_description)/robots/ur5_arm.xacro"/>
    <xacro:include filename="$(find ur5_description)/robots/ur5.gazebo.xacro"/>
    <xacro:include filename="$(find ur5_description)/robots/ur5.transmission.xacro"/>

    <!-- construct robot -->
    <xacro:ur5_arm/>
    <xacro:ur5_gazebo/>
    <xacro:ur5_transmission/>

</robot>