<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wsg_gazebo">
  
    <!-- friction values -->
    <!-- https://answers.ros.org/question/302358/anyone-whos-succeeded-with-grasping-using-ros-and-gazebo-what-advice-do-you-have-to-offer/?answer=348927#post-id-348927 -->
  
    <!-- wsg base -->

    <gazebo reference="wsg_base">
      <selfCollide>true</selfCollide>
      <gravity>0</gravity>
      <turnGravityOff>true</turnGravityOff>
      <collision>
      <surface>
        <friction>
          <torsional>
            <coefficient>10.0</coefficient>
            <use_patch_radius>true</use_patch_radius>
            <patch_radius>0.05</patch_radius>
          </torsional>
        </friction>
        <contact>
          <poissons_ratio>0.5</poissons_ratio>
          <elastic_modulus>1e8</elastic_modulus>
        </contact>
      </surface>
      </collision>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <maxVel>1</maxVel>
      <kp>1000000.0</kp>
      <kd>100.0</kd> 
      <fdir1>0 0 1</fdir1>
      <minDepth>0.0</minDepth>
      <maxContacts>100</maxContacts>
      <material>Gazebo/Grey</material>
    </gazebo>

    <!-- right -->
    
    <gazebo reference="wsg_finger_mount_right">
      <selfCollide>true</selfCollide>
      <gravity>0</gravity>
      <turnGravityOff>true</turnGravityOff>
      <collision>
      <surface>
        <friction>
          <torsional>
            <coefficient>10.0</coefficient>
            <use_patch_radius>true</use_patch_radius>
            <patch_radius>0.05</patch_radius>
          </torsional>
        </friction>
        <contact>
          <poissons_ratio>0.5</poissons_ratio>
          <elastic_modulus>1e8</elastic_modulus>
        </contact>
      </surface>
      </collision>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <maxVel>1</maxVel>
      <kp>1000000.0</kp>
      <kd>100.0</kd> 
      <fdir1>0 0 1</fdir1>
      <minDepth>0.0</minDepth>
      <maxContacts>100</maxContacts>
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wsg_finger_right">
      <selfCollide>true</selfCollide>
      <gravity>0</gravity>
      <turnGravityOff>true</turnGravityOff>
      <collision>
      <surface>
        <friction>
          <torsional>
            <coefficient>10.0</coefficient>
            <use_patch_radius>true</use_patch_radius>
            <patch_radius>0.05</patch_radius>
          </torsional>
        </friction>
        <contact>
          <poissons_ratio>0.5</poissons_ratio>
          <elastic_modulus>1e8</elastic_modulus>
        </contact>
      </surface>
      </collision>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <maxVel>1</maxVel>
      <kp>1000000.0</kp>
      <kd>100.0</kd> 
      <fdir1>0 0 1</fdir1>
      <minDepth>0.0</minDepth>
      <maxContacts>100</maxContacts>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wsg_fingertip_right">
      <selfCollide>true</selfCollide>
      <gravity>0</gravity>
      <turnGravityOff>true</turnGravityOff>
      <collision>
      <surface>
        <friction>
          <torsional>
            <coefficient>10.0</coefficient>
            <use_patch_radius>true</use_patch_radius>
            <patch_radius>0.05</patch_radius>
          </torsional>
        </friction>
        <contact>
          <poissons_ratio>0.5</poissons_ratio>
          <elastic_modulus>1e8</elastic_modulus>
        </contact>
      </surface>
      </collision>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <maxVel>1</maxVel>
      <kp>1000000.0</kp>
      <kd>100.0</kd> 
      <fdir1>0 0 1</fdir1>
      <minDepth>0.0</minDepth>
      <maxContacts>100</maxContacts>
      <material>Gazebo/RedBright</material>
    </gazebo>

    <gazebo reference="wsg_base_mount_right_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <!-- left -->

    <gazebo reference="wsg_finger_mount_left">
      <selfCollide>true</selfCollide>
      <gravity>0</gravity>  
      <turnGravityOff>true</turnGravityOff>
      <collision>
      <surface>
        <friction>
          <torsional>
            <coefficient>10.0</coefficient>
            <use_patch_radius>true</use_patch_radius>
            <patch_radius>0.05</patch_radius>
          </torsional>
        </friction>
        <contact>
          <poissons_ratio>0.5</poissons_ratio>
          <elastic_modulus>1e8</elastic_modulus>
        </contact>
      </surface>
      </collision>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <maxVel>1</maxVel>
      <kp>1000000.0</kp>
      <kd>100.0</kd> 
      <fdir1>0 0 1</fdir1>
      <minDepth>0.0</minDepth>
      <maxContacts>100</maxContacts>
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wsg_finger_left">
      <selfCollide>true</selfCollide>
      <gravity>0</gravity>
      <turnGravityOff>true</turnGravityOff>
      <collision>
      <surface>
        <friction>
          <torsional>
            <coefficient>10.0</coefficient>
            <use_patch_radius>true</use_patch_radius>
            <patch_radius>0.05</patch_radius>
          </torsional>
        </friction>
        <contact>
          <poissons_ratio>0.5</poissons_ratio>
          <elastic_modulus>1e8</elastic_modulus>
        </contact>
      </surface>
      </collision>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <maxVel>1</maxVel>
      <kp>1000000.0</kp>
      <kd>100.0</kd> 
      <fdir1>0 0 1</fdir1>
      <minDepth>0.0</minDepth>
      <maxContacts>100</maxContacts>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wsg_fingertip_left">
      <selfCollide>true</selfCollide>
      <gravity>0</gravity>
      <turnGravityOff>true</turnGravityOff>
      <collision>
      <surface>
        <friction>
          <torsional>
            <coefficient>10.0</coefficient>
            <use_patch_radius>true</use_patch_radius>
            <patch_radius>0.05</patch_radius>
          </torsional>
        </friction>
        <contact>
          <poissons_ratio>0.5</poissons_ratio>
          <elastic_modulus>1e8</elastic_modulus>
        </contact>
      </surface>
      </collision>
      <mu1>10</mu1>
      <mu2>10</mu2>
      <maxVel>1</maxVel>
      <kp>1000000.0</kp>
      <kd>100.0</kd> 
      <fdir1>0 0 1</fdir1>
      <minDepth>0.0</minDepth>
      <maxContacts>100</maxContacts>
      <material>Gazebo/RedBright</material>
    </gazebo>

    <gazebo reference="wsg_base_mount_left_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
      <provideFeedback>true</provideFeedback>
    </gazebo>

  </xacro:macro>

</robot>
