<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wsg_gazebo">
  
    <!-- wsg base -->

    <gazebo reference="wsg_base">
      <selfCollide>true</selfCollide>
      <mu1>1</mu1>
      <mu2>1</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <!-- right -->
    
    <gazebo reference="wsg_finger_mount_right">
      <selfCollide>true</selfCollide>
      <mu1>1</mu1>
      <mu2>1</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wsg_finger_right">
      <selfCollide>true</selfCollide>
      <mu1>1</mu1>
      <mu2>1</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wsg_fingertip_right">
      <selfCollide>true</selfCollide>
      <mu1>1</mu1>
      <mu2>1</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="wsg_base_mount_right_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
      <provideFeedback>true</provideFeedback>
    </gazebo>

    <!-- left -->

    <gazebo reference="wsg_finger_mount_left">
      <selfCollide>true</selfCollide>
      <mu1>1</mu1>
      <mu2>1</mu2>
      <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="wsg_finger_left">
      <selfCollide>true</selfCollide>
      <mu1>1</mu1>
      <mu2>1</mu2>
      <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="wsg_fingertip_left">
      <selfCollide>true</selfCollide>
      <mu1>1</mu1>
      <mu2>1</mu2>
      <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="wsg_base_mount_left_joint">
      <implicitSpringDamper>1</implicitSpringDamper>
      <provideFeedback>true</provideFeedback>
    </gazebo>

  </xacro:macro>

</robot>
