<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wsg_transmission">

    <!-- transmission wsg_base_mount_right_tran -->

    <transmission name="wsg_base_mount_right_tran">

      <type>transmission_interface/SimpleTransmission</type>

      <joint name="wsg_base_mount_right_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>

      <actuator name="wsg_base_mount_right_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
      
    </transmission>

    <!-- transmission wsg_base_mount_left_tran -->

    <transmission name="wsg_base_mount_left_tran">

      <type>transmission_interface/SimpleTransmission</type>

      <joint name="wsg_base_mount_left_joint">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>

      <actuator name="wsg_base_mount_left_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>

    </transmission>

  </xacro:macro>

</robot>