<launch>

	<!-- ARGUMENTS -->

	<!-- robot pose [x, y, z] -->
	<arg name="robot_pose"  doc="The pose of the robot spawn location." default="-x 0.1 -y 0.1 -z 0.75"/>

	<!-- GAZEBO -->

	<!-- locate robot description -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro $(find ur5_description)/robots/ur5_with_wsg.urdf.xacro"/> -->

	<!-- stop controllers -->


	<!-- move robot pose using gazebo service call -->
	<!-- ... -->

	<!-- service call to gazebo to destroy UR5 model -->
	<!-- <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait gazebo/delete_model '{model_name: ur5}'" /> -->

	<!-- spawn URDF robot model with gripper in gazebo -->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ur5
		$(arg robot_pose)
		-J ur5_joint1 0 -J ur5_joint2 -1.57 -J ur5_joint3 0 -J ur5_joint4 0 -J ur5_joint5 0 -J ur5_joint6 0
		-J wsg_base_mount_right_joint 0 -J wsg_base_mount_left_joint 0"/>

</launch>
