<launch>

	<!-- ARGUMENTS -->

	<!-- robot pose [x, y, z] -->
	<arg name="robot_pose"  doc="The pose of the robot spawn location." default="-x 0.2 -y 0.2 -z 0.75"/>

	<!-- stop controllers -->
	<node name="$(anon ur5_controller_unspawner)" pkg="controller_manager" type="unspawner" respawn="false" output="screen" args="ur5_joint_state_controller ur5_joint_position_pd_gravity_controller"/>

	<!-- service call to gazebo to destroy UR5 model -->
	<node name="$(anon remove_ur5)" pkg="rosservice" type="rosservice" args="call --wait gazebo/delete_model '{model_name: ur5}'" />

	<!-- spawn URDF robot model with gripper in gazebo -->
	<node name="$(anon spawn_ur5)" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ur5
		$(arg robot_pose)
		-J ur5_joint1 0 -J ur5_joint2 -1.57 -J ur5_joint3 0 -J ur5_joint4 0 -J ur5_joint5 0 -J ur5_joint6 0
		-J wsg_base_mount_right_joint 0 -J wsg_base_mount_left_joint 0"/>

	<!-- start controllers -->
	<node name="$(anon ur5_controller_spawner)" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="ur5_joint_state_controller ur5_joint_position_pd_gravity_controller"/>

</launch>
