<?xml version="1.0"?>
<launch>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find ur5_description)/robots/ur5.robot.urdf.xacro"/>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ur5 -J ur5_joint_1 0 -J ur5_joint_2 -1.5 -J ur5_joint_3 0 -J ur5_joint_4 0 -J ur5_joint_5 0 -J ur5_joint_6 0 "/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ur5_controllers)/config/ur_controller.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="ur5_joint_state_controller ur5_group_pos_controller wsg_group_pos_controller" />

</launch>
