<launch>

	<!-- workcell -->
	<include file="$(find rovi_gazebo)/launch/workcell.launch">
		<arg name="paused" value="false"/>
		<arg name="use_moveit" value="false"/>
		<arg name="use_rviz" value="false"/>
		<arg name="no_objects" value="true"/>
		<arg name="use_gripper" value="true"/>
		<arg name="gui" value="false"/>
	</include>
	
</launch>